AdminUser:
  attributes:
    - email
    - current_sign_in_at
    - sign_in_count
    - created_at
  associations: []

Book:
  attributes:
    - title
    - author
    - published
    - created_at
  associations:
    - genres
    - likes
    - reviews

Genre:
  attributes:
    - name
  associations:
    - books

Like:
  attributes:
    - user_id
    - likeable_type
    - created_at
  associations:
    - user


Profile:
  attributes:
    - location
    - bio
  associations:
    - user

Review:
  attributes:
    - rating
    - created_at
    - book_id
  associations:
    - user
    - book

User:
  attributes:
    - username
    - email
    - role
    - created_at
  associations:
    - profile
    - reviews
    - likes
